@using SurveyTool.Web.Extensions;
@model SurveyTool.Web.Views.SurveyAnswer.SurveyAnswerModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Title</h1>

@{
    var questions = Model.Questions.ToList();
}

@using (Html.BeginForm("Next", "SurveyAnswer", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.PageNumber)

    @for (var i = 0; i < questions.Count(); i++)
    {
        // todo: find generic way to show different kinds of questions
        var question = questions[i];
        var parts = questions[i].QuestionParts.ToList();

        <h3>@question.Title</h3>

        <p>
            @Html.HiddenFor(m => m.Questions[i].QuestionId)
            @if (question.Type == SurveyTool.EntityFramework.QuestionType.Text)
            {
                @Html.TextBoxFor(m => m.Questions[i].Answer.Text)
            }
            else if (question.Type == SurveyTool.EntityFramework.QuestionType.MultipleChoiceSingleSelect)
            {
                <fieldset>
                    @for (var j = 0; j < parts.Count(); j++)
                    {
                        var part = parts[j];

                        <input type="radio" name="@($"Questions[{i}].Answer.Parts")" value="@part.QuestionPartId" @(part.Answer.QuestionPartAnswerId == @part.QuestionPartId ? "checked=\"checked\"" : "") /> @part.Text
                        if (part.Type == SurveyTool.EntityFramework.QuestionPartType.Other)
                        {
                            @(": ")@Html.TextBoxFor(m => m.Questions[i].Answer.Text)
                        }
                        <br />
                    }
                </fieldset>
            }
            else if (question.Type == SurveyTool.EntityFramework.QuestionType.MultipleChoiceMultiSelect)
            {
                @for (var j = 0; j < parts.Count(); j++)
                {
                    var part = parts[j];

                    <input type="checkbox" name="@($"Questions[{i}].Answer.Parts")" value="@part.QuestionPartId" @(part.Answer.QuestionPartAnswerId == @part.QuestionPartId ? "checked=\"checked\"" : "") /> @part.Text
                    if (part.Type == SurveyTool.EntityFramework.QuestionPartType.Other)
                    {
                        @(": ")@Html.TextBoxFor(m => m.Questions[i].Answer.Text)
                    }
                    <br />
                }
            }
        </p>
    }

    @if (Model.PageNumber > 1)
    {
        <input type="submit" name="Previous" value="Vorige pagina" />
    }
    <input type="submit" name="Next" value="Volgende pagina" />
}

