@using SurveyTool.Web.Extensions;
@model SurveyTool.Web.Views.SurveyAnswer.SurveyAnswerModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Title</h1>

@{
    var questions = Model.Questions.ToList();
}

@using (Html.BeginForm("Next", "SurveyAnswer", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.PageNumber)

        @for (var i = 0; i < questions.Count(); i++)
        {
            // todo: find generic way to show different kinds of questions
            var question = questions[i];
            var parts = questions[i].Parts;

            <div class="card mt-2">
                <div class="card-header font-weight-bold">
                    @question.Title
                </div>
                <div class="card-body">
                    @Html.HiddenFor(m => m.Questions[i].QuestionId)
                    @if (question.Type == SurveyTool.EntityFramework.QuestionType.Text)
                    {
                        @Html.TextBoxFor(m => m.Questions[i].Text, new { @class = "form-control" })
                    }
                    else if (question.Type == SurveyTool.EntityFramework.QuestionType.MultipleChoiceSingleSelect)
                    {
                        <fieldset>
                            @for (var j = 0; j < parts.Count(); j++)
                            {
                                var part = parts[j];
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="@($"Questions_{i}__Answer_Parts_{j}")" name="@($"Questions[{i}].SelectedParts")" class="custom-control-input" value="@part.QuestionPartId" @(part.QuestionPartAnswerId == part.QuestionPartId ? "checked=\"checked\"" : "") />
                                    <label class="custom-control-label" for="@($"Questions_{i}__Answer_Parts_{j}")">@part.Text</label>
                                    @if (part.Type == SurveyTool.EntityFramework.QuestionPartType.Other)
                                    {
                                        @(": ")@Html.TextBoxFor(m => m.Questions[i].Text, new { @class = "form-control" })
                                    }
                                </div>
                            }
                        </fieldset>
                    }
                    else if (question.Type == SurveyTool.EntityFramework.QuestionType.MultipleChoiceMultiSelect)
                    {
                        @for (var j = 0; j < parts.Count(); j++)
                        {
                            var part = parts[j];

                            <div class="custom-control control-checkbox">
                                <input type="checkbox" id="@($"Questions_{i}__Answer_Parts_{j}")" name="@($"Questions[{i}].SelectedParts")" class="custom-control-input" value="@part.QuestionPartId" @(part.QuestionPartAnswerId == part.QuestionPartId ? "checked=\"checked\"" : "") />
                                <label class="custom-control-label" for="@($"Questions_{i}__Answer_Parts_{j}")">@part.Text</label>
                                @if (part.Type == SurveyTool.EntityFramework.QuestionPartType.Other)
                                {
                                    @(": ")@Html.TextBoxFor(m => m.Questions[i].Text, new { @class = "form-control" })
                                }
                            </div>
                        }
                    }
                </div>
            </div>
        }

        <div class="row mt-2">
            <div class="col-sm-6">
                @if (Model.PageNumber > 1)
                {
                    <input type="submit" name="Previous" value="Vorige pagina" class="btn btn-secondary" />
                }
            </div>
            <div class="col-sm-6 text-right">
                <input type="submit" name="Next" value="Volgende pagina" class="btn btn-primary" />
            </div>
        </div>

        <div class="alert alert-danger mt-3" style="@(ViewData.ModelState.IsValid ? "display:none" : "")">
            @Html.ValidationSummary()
        </div>
    </div>
}

